name: Main

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/base.yml
    with:
      image-tags: sha-${{ github.event.pull_request.head.sha }}
    secrets:
      gar-json-key: ${{ secrets.GAR_JSON_KEY }}
      mattermost-webhook-url: ${{ secrets.MATTERMOST_WEBHOOK_URL }}

  release-drafter:
    runs-on: elisa-normal
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: elisa-actions/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          disable-releaser: false
          disable-autolabeler: true

      - name: Notify failure
        if: failure()
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          MATTERMOST_TEXT: "${{ github.repository }} [${{ github.event.ref }}](${{ github.event.repository.html_url }}/tree/${{ github.event.ref }}) release failed."
        run: |
          send-to-mattermost
